.input-form {
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(0 0 0 / 10%);
  max-width: 450px;
  width: 100%;
  margin: auto;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1101;
}

.other-login button {
  text-transform: capitalize;
  margin-bottom: 15px;
  width: 100%;
  color: var(--second-color);
}

p a {
  color: var(--theme-color);
}

@media (max-width:575px) {
  .input-form {
    max-width: calc(100% - 15px);
    margin: auto;
  }

}
