.header {
  position: sticky !important;
  top: 0;
  z-index: 5;
}

.navlink {
  align-items: center;
}

.header nav ul li a {
  position: relative;
  text-transform: capitalize;
}

.header nav ul li a:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--theme-color);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  transform: translateX(-50%);
}

.mobile-links li a.active,
.header nav ul li a.active,
.header nav ul li a:hover {
  color: var(--theme-color);
}

.header nav ul li a:hover:before,
.header nav ul li a.active:before {
  width: 100%;
}

.right-side {
  align-items: center;
}

.right-side li {
  position: relative;
  cursor: pointer;
}

.right-side svg {
  width: 24px;
  height: 24px;
  transition: all 0.3s linear;
}

.right-side li:hover svg {
  fill: var(--theme-color);
}

.dd-link {
  position: relative;
}

li.dd-link>span {
  padding: 20px 0;
  display: inline-block;
}

.dd-menu {
  position: absolute !important;
  top: 100%;
  left: 50%;
  width: max-content;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  transform: translateY(20px) translateX(-50%);
  text-transform: capitalize;
}

.dd-menu li {
  padding: 0;
}

li.dd-link:hover .dd-menu {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}

.mobile-links {
  text-transform: capitalize;
}

.mobile-menu .top-header {
  background-color: var(--theme-color);
  padding: 10px;
  color: #fff;
}

.mobile-menu .top-header svg path {
  stroke: #fff;
}

.menu-icon {
  display: none;
}


@media (max-width:768px) {
  .navlink {
    display: none !important;
  }

  .menu-icon {
    display: inline-block;
  }
}
